# Task 1: Small case scenario of dataset analysis

## 1.1 - Create a dataset (The Tate Collection)
As a first example, we will create our own small dataset. In particular, the dataset will consist of 10 artists which are present in the Tate Collection along with the corresponding year of birth, year of death, biological gender and number of artworks.

|          Name         | Gender |   Year_Birth  |   Year_Death  | N_works |
|-----------------------|--------|---------------|---------------|---------|
|     Beuys, Joseph     |  Male  |      1921	 |      1986     |   588   |
|    Constable, John    |  Male  |      1776	 |      1837	 |   249   |
|   Daniell, William    |  Male  |      1769	 |      1837	 |   612   |
|   Forbes, Elizabeth   | Female |      1859	 |      1912	 |   120   |
|     Flaxman, John     |  Male  |      1755	 |      1826	 |   287   |
|    Phillips, Thomas   |  Male  |      1770	 |      1845	 |   274   |
| Paolozzi, Sir Eduardo |  Male  |      1924	 |      2005	 |   385   |
|     Schendel, Mira    | Female |      1919	 |      1988	 |    3    |
|    Turner, William    |  Male  |      1775	 |      1851	 |  1861   |
|      Warhol, Andy     |  Male  |      1928	 |      1987	 |   272   |

**_[TO DO]_**: Let's create a DataFrame named **TateDataset** with the information showed in the above table.

**Note:** You can create arrays for each column and then build the DataFrame.
Remember to import the required libraries!

In [5]:
# Library imports
import numpy as np
import pandas as pd

In [6]:
data={"Name":["Beuys, Joseph","Constable, John","Daniell, William","Forbes, Elizabeth","Flaxman, John",
              "Phillips, Thomas","Paolozzi, Sir Eduardo","Schendel, Mira","Turner, William","Warhol, Andy"], 
      "Gender":["Male","Male","Male","Female","Male","Male","Male","Female","Male","Male"], 
      "Year_Birth":["1921","1776","1769","1859","1755","1770","1924","1919","1775","1928"],
      "Year_Death":["1986","1837","1837","1912","1826","1845","2005","1988","1851","1987"],
      "N_Works":["588","249","612","120","287","274","385","3","1861","272"]}

TateDataset=pd.DataFrame(data,columns=["Name","Gender","Year_Birth","Year_Death","N_Works"])
TateDataset

                    Name  Gender Year_Birth Year_Death N_Works
0          Beuys, Joseph    Male       1921       1986     588
1        Constable, John    Male       1776       1837     249
2       Daniell, William    Male       1769       1837     612
3      Forbes, Elizabeth  Female       1859       1912     120
4          Flaxman, John    Male       1755       1826     287
5       Phillips, Thomas    Male       1770       1845     274
6  Paolozzi, Sir Eduardo    Male       1924       2005     385
7         Schendel, Mira  Female       1919       1988       3
8        Turner, William    Male       1775       1851    1861
9           Warhol, Andy    Male       1928       1987     272

In [ ]:
################# OR

#name = ['Beuys, Joseph', 'Constable, John', 'Daniell, William', 'Forbes, Elizabeth', 'Flaxman, John', 'Phillips, Thomas',
#        'Paolozzi, Sir Eduardo', 'Schendel, Mira', 'Turner, William', 'Warhol, Andy']

#gender = ['Male', 'Male', 'Male', 'Female', 'Male', 'Male', 'Male', 'Female', 'Male', 'Male']
#year_birth = np.array([1921, 1776, 1769, 1859, 1755, 1770, 1924, 1919, 1775, 1928], dtype=np.int64)
#year_death = np.array([1986, 1837, 1837, 1912, 1826, 1845, 2005, 1988, 1851, 1987], dtype=np.int64)
#n_works = np.array([588, 249, 612, 120, 287, 274, 385, 3, 1861, 272], dtype=np.int64)

#columns = ['Name', 'Gender', 'Year_Birth', 'Year_Death', 'N_works']

#d = {'Name': name, 'Gender': gender, 'Year_Birth': year_birth, 'Year_Death': year_death, 'N_works': n_works}

#tate_dataset = pd.DataFrame(data=d)
#tate_dataset

In [ ]:
############### OR

<img src="1.1Alternative.jpg" style="width:350px;height:300px"/>

In [ ]:
# Screenshot inserted by using:
# <img src="1.1Alternative.jpg" style="width:350px;height:300px"/> IN A MARKDOWN CELL

## 1.2 - Data Acquisition (local file)

Data acquisition is a process of loading and reading data from various sources. We will learn how to export and read data from a local file in different format using  **Pandas** package. 

A file format is a standardised way in which information is encoded to be stored in a file. Some examples of file formats are: CSV, XLSX, and PKL. 

Let's practice with some examples.

### .CSV - Comma Separated Values

CSV is one of the most popular spreadsheet file format. In this kind of file, data is stored in cells. Each cell is organized in rows and columns. A column in the spreadsheet file can have different types. 

Let us look at how to create a CSV file. We can export a DataFrame with the Pandas function `to_csv()`. The file will be saved in the same location of this notebook unless specified otherwise. We can name the file **TateData.csv**.

**Note:** Once you have run the following cell, check the output file .

In [7]:
# Header=True enables the column names to be in the csv file (if header=False, there would be no column names).
# Index=True enables column numbering (0 to 9). So we set it as False to only have the actual data in the csv file. 

TateDataset.to_csv('tate_dataset.csv', index=False, header=True)

To pull in the csv file, we will use the Pandas function `read_csv()`. We will import the previous file in a new DataFrame.

**Note:**  Depending on where you save your notebooks, you may need to modify the location below.

In [8]:
tate_1 = pd.read_csv('tate_dataset.csv')
tate_1

                    Name  Gender  Year_Birth  Year_Death  N_Works
0          Beuys, Joseph    Male        1921        1986      588
1        Constable, John    Male        1776        1837      249
2       Daniell, William    Male        1769        1837      612
3      Forbes, Elizabeth  Female        1859        1912      120
4          Flaxman, John    Male        1755        1826      287
5       Phillips, Thomas    Male        1770        1845      274
6  Paolozzi, Sir Eduardo    Male        1924        2005      385
7         Schendel, Mira  Female        1919        1988        3
8        Turner, William    Male        1775        1851     1861
9           Warhol, Andy    Male        1928        1987      272

When we create the .CSV file, the only parameter we have used is **index**. 

**[TO DO]** What happens if we set the *index* parameter to True? And if you set also the parameter **header** to False?
Try by yourself.

In [34]:
# Save intial dataset as csv with index values and no headers.
TateDataset.to_csv('tate_dataset_index_noheader.csv', index=True, header=False)

In [9]:
tate_2 = pd.read_csv('tate_dataset_index_noheader.csv')
tate_2

# With header=False, the column names/headers disappear. 
# With index=True, we get two separate column numbering counts;
# The one generated when saved as index=True, and the one generated when the dataset is read on the Jupyter Notebook.

   0          Beuys, Joseph    Male  1921  1986   588
0  1        Constable, John    Male  1776  1837   249
1  2       Daniell, William    Male  1769  1837   612
2  3      Forbes, Elizabeth  Female  1859  1912   120
3  4          Flaxman, John    Male  1755  1826   287
4  5       Phillips, Thomas    Male  1770  1845   274
5  6  Paolozzi, Sir Eduardo    Male  1924  2005   385
6  7         Schendel, Mira  Female  1919  1988     3
7  8        Turner, William    Male  1775  1851  1861
8  9           Warhol, Andy    Male  1928  1987   272

Delete the csv file now that we are done using it.

### pickle — Python object serialization

This data format is Python-specific. This has the advantage that there are no restrictions imposed by external standards; however it means that non-Python programs may not be able to reconstruct pickled Python objects.

In [37]:
import pickle

TateDataset.to_pickle('tate_dataset.pkl')

In [10]:
tate_3 = pd.read_pickle('tate_dataset.pkl')
tate_3

                    Name  Gender Year_Birth Year_Death N_Works
0          Beuys, Joseph    Male       1921       1986     588
1        Constable, John    Male       1776       1837     249
2       Daniell, William    Male       1769       1837     612
3      Forbes, Elizabeth  Female       1859       1912     120
4          Flaxman, John    Male       1755       1826     287
5       Phillips, Thomas    Male       1770       1845     274
6  Paolozzi, Sir Eduardo    Male       1924       2005     385
7         Schendel, Mira  Female       1919       1988       3
8        Turner, William    Male       1775       1851    1861
9           Warhol, Andy    Male       1928       1987     272

## 1.3 - Look at the data

Now we will simply have a look at the data and make sure it is clean. 

### Data type
Let's check the data type of the imported variables and the original DataFrame.

In [11]:
# ORIGINAL ARRAY DATAFRAME (in an array all elements are objects).
TateDataset.dtypes

Name          object
Gender        object
Year_Birth    object
Year_Death    object
N_Works       object
dtype: object

In [12]:
# NORMAL CSV
tate_1.dtypes

Name          object
Gender        object
Year_Birth     int64
Year_Death     int64
N_Works        int64
dtype: object

In [13]:
# CSV WITH INDEX & NO HEADER
tate_2.dtypes

0                 int64
Beuys, Joseph    object
Male             object
1921              int64
1986              int64
588               int64
dtype: object

In [14]:
# PICKLE 
tate_3.dtypes

Name          object
Gender        object
Year_Birth    object
Year_Death    object
N_Works       object
dtype: object

We can also display the values of a single column and check their data type as follow:

In [15]:
TateDataset["Gender"]

0      Male
1      Male
2      Male
3    Female
4      Male
5      Male
6      Male
7    Female
8      Male
9      Male
Name: Gender, dtype: object

In [16]:
tate_1["Year_Birth"]

0    1921
1    1776
2    1769
3    1859
4    1755
5    1770
6    1924
7    1919
8    1775
9    1928
Name: Year_Birth, dtype: int64

# Task 2: Application Programming Interfaces (APIs)

## 2.1 - Downloading climate data from the Internet

We will now explore real world data, namely a dataset of climate information of 5 cities in Denmark between 1980-2018. The original raw-data was originally obtained from [National Climatic Data Center (NCDC)](https://www7.ncdc.noaa.gov/CDO/cdoselect.cmd).

In particular, the selected cities in Denmark are:
- Aalborg, 
- Aarhus, 
- Esbjerg, 
- Odense. 
- Roskilde

In the following, we will download the dataset using an API instead of loading a local source file.

### What is an API? 
Application Programming Interface (API) is a communication protocol between the user and the server (i.e., web server) that enables transmittion of data. The user making a request to an API server can download the desidered resources. 

### How to make a request in python?
There are many different way to request data. 
In the following, we will use the package **urllib** that collects several modules for working with URLs.

In particular, [urlib.request](https://docs.python.org/3/library/urllib.request.html#module-urllib.request) is a module for opening and reading URLs.

### - Download climate data


The following functions allow to download and store the dataset in a specific folder.

How to use:

- Set the source (i.e., URL) of the desidered dataset in `data_url`.
- Set the `data_dir` variable with the local directory where to store the data.
- Call `download_and_extract()` to download the dataset if it is not already located in the given data_dir.
- Load the data in the interactive Python notebook so ic can be used in your scripts (you can use `load_original_data()`).

In [17]:
#@title Functions to download data 
#####
#
# This file is a partially modified version of one of the TensorFlow Tutorials available at:
#
# https://github.com/Hvass-Labs/TensorFlow-Tutorials
#
# Published under the MIT License. See the file LICENSE for details.
#
# Copyright 2018 by Magnus Erik Hvass Pedersen
#
#####

################################ DEFINING DOWNLOAD & EXTRACTING FUNCTIONS FOR NEXT CELL ##############################
############################################# COULD BE USED FOR ANY UR L##############################################

import sys
import os
import urllib.request
import tarfile
import zipfile



def _print_download_progress(count, block_size, total_size):
    """
    Function used for printing the download progress.
    Used as a call-back function in maybe_download_and_extract().
    """

    # Percentage completion.
    pct_complete = float(count * block_size) / total_size

    # Limit it because rounding errors may cause it to exceed 100%.
    pct_complete = min(1.0, pct_complete)

    # Status-message. Note the \r which means the line should overwrite itself.
    msg = "\r- Download progress: {0:.1%}".format(pct_complete)

    # Print it.
    sys.stdout.write(msg)
    sys.stdout.flush()


def download(base_url, filename, download_dir):
    """
    Download the given file if it does not already exist in the download_dir.
    :param base_url: The internet URL without the filename.
    :param filename: The filename that will be added to the base_url.
    :param download_dir: Local directory for storing the file.
    """

    # Path for local file.
    save_path = os.path.join(download_dir, filename)

    # Check if the file already exists, otherwise we need to download it now.
    if not os.path.exists(save_path):
        # Check if the download directory exists, otherwise create it.
        if not os.path.exists(download_dir):
            os.makedirs(download_dir)

        print("Downloading", filename, "...")

        # Download the file from the internet.
        url = base_url + filename
        file_path, _ = urllib.request.urlretrieve(url=url,
                                                  filename=save_path,
                                                  reporthook=_print_download_progress)

        print(" Done!")


def download_and_extract(url, download_dir):
    """
    Download and extract the data if it doesn't already exist.
    Assumes the url is a tar-ball file.
    :param url:
        Internet URL for the tar-file to download.
    :param download_dir:
        Directory where the downloaded file is saved.
    """

    # Filename for saving the file downloaded from the internet.
    # Use the filename from the URL and add it to the download_dir.
    filename = url.split('/')[-1]
    file_path = os.path.join(download_dir, filename)

    # Check if the file already exists.
    # If it exists then we assume it has also been extracted,
    # otherwise we need to download and extract it now.
    if not os.path.exists(file_path):
        # Check if the download directory exists, otherwise create it.
        if not os.path.exists(download_dir):
            os.makedirs(download_dir)

        # Download the file from the internet.
        file_path, _ = urllib.request.urlretrieve(url=url,
                                                  filename=file_path,
                                                  reporthook=_print_download_progress)

        print()
        print("Download finished. Extracting files.")

        if file_path.endswith(".zip"):
            # Unpack the zip-file.
            zipfile.ZipFile(file=file_path, mode="r").extractall(download_dir)
        elif file_path.endswith((".tar.gz", ".tgz")):
            # Unpack the tar-ball.
            tarfile.open(name=file_path, mode="r:gz").extractall(download_dir)

        print("Done.")
    else:
        print("Data has apparently already been downloaded and unpacked.")

First, we define where we want to download the dataset (you are free to choose another directory) and the URL of the dataset to be downloaded.

In [19]:
# Location of the dataset on the internet.
data_url = "https://github.com/Hvass-Labs/weather-denmark/raw/master/weather-denmark.tar.gz"

# Downloaded on a new folder named "Task 2: Weather Data" on the local directory where this python file is. 
data_dir = "Task 2: Weather Data"

Now, we can download the dataset into the chosen local directory

In [20]:
download_and_extract(url=data_url, download_dir=data_dir)

Data has apparently already been downloaded and unpacked.

**[TO DO]:** Check the local folder? In which format the dataset has been downloaded?

**[TO DO]:** Select a format and load the dataset .

In [21]:
### CSV
weather_1 = pd.read_csv("/Users/borjamartinavarro/Desktop/EEE 4th Year/Data Acquisition & Processing Systems (136)/Lab 1/Assignment (Lab 1)/Task 2: Weather Data/weather-denmark.csv")
weather_1

             City             DateTime  Temp  Pressure  WindSpeed  WindDir
0         Aalborg  1980-03-01 00:00:00   5.0    1008.1       11.3    290.0
1         Aalborg  1980-03-01 00:20:00   4.0       NaN        9.2    270.0
2         Aalborg  1980-03-01 00:50:00   4.0       NaN        9.2    280.0
3         Aalborg  1980-03-01 01:20:00   4.0       NaN        9.2    280.0
4         Aalborg  1980-03-01 01:50:00   4.0       NaN        8.7    270.0
...           ...                  ...   ...       ...        ...      ...
2918145  Roskilde  2018-03-01 22:20:00  -5.0       NaN        5.1     70.0
2918146  Roskilde  2018-03-01 22:50:00  -5.0       NaN        4.1     70.0
2918147  Roskilde  2018-03-01 23:00:00  -5.3    1018.6        4.1     60.0
2918148  Roskilde  2018-03-01 23:20:00  -5.0       NaN        3.6     60.0
2918149  Roskilde  2018-03-01 23:50:00  -5.0       NaN        3.6     60.0

[2918150 rows x 6 columns]

In [22]:
### PICKLE
weather_2 = pd.read_pickle("/Users/borjamartinavarro/Desktop/EEE 4th Year/Data Acquisition & Processing Systems (136)/Lab 1/Assignment (Lab 1)/Task 2: Weather Data/weather-denmark.pkl")
weather_2

                              Temp  Pressure  WindSpeed  WindDir
City     DateTime
Aalborg  1980-03-01 00:00:00   5.0    1008.1       11.3    290.0
         1980-03-01 00:20:00   4.0       NaN        9.2    270.0
         1980-03-01 00:50:00   4.0       NaN        9.2    280.0
         1980-03-01 01:20:00   4.0       NaN        9.2    280.0
         1980-03-01 01:50:00   4.0       NaN        8.7    270.0
...                            ...       ...        ...      ...
Roskilde 2018-03-01 22:20:00  -5.0       NaN        5.1     70.0
         2018-03-01 22:50:00  -5.0       NaN        4.1     70.0
         2018-03-01 23:00:00  -5.3    1018.6        4.1     60.0
         2018-03-01 23:20:00  -5.0       NaN        3.6     60.0
         2018-03-01 23:50:00  -5.0       NaN        3.6     60.0

[2918150 rows x 4 columns]

**More advanced solution for loading dataset**:

In this case, the dataset was downloaded in two different formats. 
We can define the path where the files have been stored as follows:
- **path_original_data_pickle( )** is the location of the original data in pickle format
- **path_original_data_csv( )** is the location the original data in .csv

In [23]:
def path_original_data_pickle():
    return os.path.join(data_dir, "weather-denmark.pkl")

def path_original_data_csv():
    return os.path.join(data_dir, "weather-denmark.csv")

Now we can load the data in pickle format through the following function:

In [24]:
# Read directly. 
pd.read_pickle(path_original_data_pickle())

                              Temp  Pressure  WindSpeed  WindDir
City     DateTime
Aalborg  1980-03-01 00:00:00   5.0    1008.1       11.3    290.0
         1980-03-01 00:20:00   4.0       NaN        9.2    270.0
         1980-03-01 00:50:00   4.0       NaN        9.2    280.0
         1980-03-01 01:20:00   4.0       NaN        9.2    280.0
         1980-03-01 01:50:00   4.0       NaN        8.7    270.0
...                            ...       ...        ...      ...
Roskilde 2018-03-01 22:20:00  -5.0       NaN        5.1     70.0
         2018-03-01 22:50:00  -5.0       NaN        4.1     70.0
         2018-03-01 23:00:00  -5.3    1018.6        4.1     60.0
         2018-03-01 23:20:00  -5.0       NaN        3.6     60.0
         2018-03-01 23:50:00  -5.0       NaN        3.6     60.0

[2918150 rows x 4 columns]

In [25]:
# Or with extra code by defining load_original_data().
def load_original_data():
    return pd.read_pickle(path_original_data_pickle())

df = load_original_data()
df

                              Temp  Pressure  WindSpeed  WindDir
City     DateTime
Aalborg  1980-03-01 00:00:00   5.0    1008.1       11.3    290.0
         1980-03-01 00:20:00   4.0       NaN        9.2    270.0
         1980-03-01 00:50:00   4.0       NaN        9.2    280.0
         1980-03-01 01:20:00   4.0       NaN        9.2    280.0
         1980-03-01 01:50:00   4.0       NaN        8.7    270.0
...                            ...       ...        ...      ...
Roskilde 2018-03-01 22:20:00  -5.0       NaN        5.1     70.0
         2018-03-01 22:50:00  -5.0       NaN        4.1     70.0
         2018-03-01 23:00:00  -5.3    1018.6        4.1     60.0
         2018-03-01 23:20:00  -5.0       NaN        3.6     60.0
         2018-03-01 23:50:00  -5.0       NaN        3.6     60.0

[2918150 rows x 4 columns]

In [26]:
##### All possible ways to access directory to read csv.

#### 1
# weather_1 = pd.read_csv("/Users/borjamartinavarro/Desktop/EEE 4th Year/Data Acquisition & Processing Systems (136)/Lab 1/Assignment (Lab 1)/Task 2: Weather Data/weather-denmark.csv")
# weather_1

### 2
# def path_original_data_csv():
#     return os.path.join(data_dir, "weather-denmark.csv")
# pd.read_csv(path_original_data_csv())

### 3

weather_3 = pd.read_csv(os.path.join(data_dir, "weather-denmark.csv"))
weather_3

# Same applies for csv files.

             City             DateTime  Temp  Pressure  WindSpeed  WindDir
0         Aalborg  1980-03-01 00:00:00   5.0    1008.1       11.3    290.0
1         Aalborg  1980-03-01 00:20:00   4.0       NaN        9.2    270.0
2         Aalborg  1980-03-01 00:50:00   4.0       NaN        9.2    280.0
3         Aalborg  1980-03-01 01:20:00   4.0       NaN        9.2    280.0
4         Aalborg  1980-03-01 01:50:00   4.0       NaN        8.7    270.0
...           ...                  ...   ...       ...        ...      ...
2918145  Roskilde  2018-03-01 22:20:00  -5.0       NaN        5.1     70.0
2918146  Roskilde  2018-03-01 22:50:00  -5.0       NaN        4.1     70.0
2918147  Roskilde  2018-03-01 23:00:00  -5.3    1018.6        4.1     60.0
2918148  Roskilde  2018-03-01 23:20:00  -5.0       NaN        3.6     60.0
2918149  Roskilde  2018-03-01 23:50:00  -5.0       NaN        3.6     60.0

[2918150 rows x 6 columns]

### - Undestanding the data

**_[TO DO]_**: Have a quick overview of the downloaded dataset. 
In particular, focus on:

- Understanding the variables contained in the dataframe
- Check the DateTime for 2 cities

In [27]:
# Show last 10 rows.
weather_3.tail(10)

# To show the first n rows, weather_3.head()

# So now we know that our dataset has 6 columns and 2918150 rows.

             City             DateTime  Temp  Pressure  WindSpeed  WindDir
2918140  Roskilde  2018-03-01 20:50:00  -5.0       NaN        4.6     70.0
2918141  Roskilde  2018-03-01 21:00:00  -5.1    1019.6        5.1     60.0
2918142  Roskilde  2018-03-01 21:20:00  -5.0       NaN        5.1     70.0
2918143  Roskilde  2018-03-01 21:50:00  -5.0       NaN        5.7     70.0
2918144  Roskilde  2018-03-01 22:00:00  -5.2    1019.1        5.1     60.0
2918145  Roskilde  2018-03-01 22:20:00  -5.0       NaN        5.1     70.0
2918146  Roskilde  2018-03-01 22:50:00  -5.0       NaN        4.1     70.0
2918147  Roskilde  2018-03-01 23:00:00  -5.3    1018.6        4.1     60.0
2918148  Roskilde  2018-03-01 23:20:00  -5.0       NaN        3.6     60.0
2918149  Roskilde  2018-03-01 23:50:00  -5.0       NaN        3.6     60.0

In [28]:
# This shows the number of columns and the resepctive names.
weather_3.columns

Index(['City', 'DateTime', 'Temp', 'Pressure', 'WindSpeed', 'WindDir'], dtype='object')

In [31]:
weather_3.index

RangeIndex(start=0, stop=2918150, step=1)

In [26]:
# Just select the "City" column. 
Column_City = weather_3["City"]
Column_City

0           Aalborg
1           Aalborg
2           Aalborg
3           Aalborg
4           Aalborg
             ...
2918145    Roskilde
2918146    Roskilde
2918147    Roskilde
2918148    Roskilde
2918149    Roskilde
Name: City, Length: 2918150, dtype: object

In [27]:
# Select data for just the city of Aarhus.
Aarhus_data = weather_3[Column_City=="Aarhus"]
Aarhus_data

           City             DateTime  Temp  Pressure  WindSpeed  WindDir
759897   Aarhus  1980-03-01 00:00:00   3.0    1008.9        6.2    260.0
759898   Aarhus  1980-03-01 01:00:00   3.0       NaN        7.2    260.0
759899   Aarhus  1980-03-01 02:00:00   4.0       NaN        8.7    270.0
759900   Aarhus  1980-03-01 02:55:00   4.0       NaN       11.3    270.0
759901   Aarhus  1980-03-01 03:00:00   4.0    1006.5       11.3    270.0
...         ...                  ...   ...       ...        ...      ...
1477309  Aarhus  2018-03-01 22:20:00  -3.0       NaN        9.3     80.0
1477310  Aarhus  2018-03-01 22:50:00  -3.0       NaN        9.3     90.0
1477311  Aarhus  2018-03-01 23:00:00  -3.4    1021.0        7.7     80.0
1477312  Aarhus  2018-03-01 23:20:00  -3.0       NaN        8.8     80.0
1477313  Aarhus  2018-03-01 23:50:00  -3.0       NaN        7.7     70.0

[717417 rows x 6 columns]

In [29]:
# Check just the DateTime for the city of Aarhus.
Aarhus_data["DateTime"]

759897     1980-03-01 00:00:00
759898     1980-03-01 01:00:00
759899     1980-03-01 02:00:00
759900     1980-03-01 02:55:00
759901     1980-03-01 03:00:00
                  ...
1477309    2018-03-01 22:20:00
1477310    2018-03-01 22:50:00
1477311    2018-03-01 23:00:00
1477312    2018-03-01 23:20:00
1477313    2018-03-01 23:50:00
Name: DateTime, Length: 717417, dtype: object

In [30]:
# Select data for just the city of Odense.
Odense_data = weather_3[Column_City=="Odense"]
Odense_data

           City             DateTime  Temp  Pressure  WindSpeed  WindDir
1936478  Odense  1980-03-01 03:00:00   5.0    1009.5        8.2    270.0
1936479  Odense  1980-03-01 03:50:00   5.0       NaN        9.2    290.0
1936480  Odense  1980-03-01 06:00:00   4.0    1009.8        9.3    290.0
1936481  Odense  1980-03-01 09:00:00   5.0    1010.8       10.3    280.0
1936482  Odense  1980-03-01 10:50:00   6.0       NaN       12.8    290.0
...         ...                  ...   ...       ...        ...      ...
2348293  Odense  2018-03-01 19:00:00  -4.4    1020.4        8.8     60.0
2348294  Odense  2018-03-01 20:00:00  -5.0    1019.8        8.2     60.0
2348295  Odense  2018-03-01 21:00:00  -5.2    1019.2        7.7     60.0
2348296  Odense  2018-03-01 22:00:00  -5.0    1018.7        8.8     60.0
2348297  Odense  2018-03-01 23:00:00  -4.7    1018.3        9.3     60.0

[411820 rows x 6 columns]

In [31]:
# Check just the DateTime for the city of Odense. 
Odense_data["DateTime"]

1936478    1980-03-01 03:00:00
1936479    1980-03-01 03:50:00
1936480    1980-03-01 06:00:00
1936481    1980-03-01 09:00:00
1936482    1980-03-01 10:50:00
                  ...
2348293    2018-03-01 19:00:00
2348294    2018-03-01 20:00:00
2348295    2018-03-01 21:00:00
2348296    2018-03-01 22:00:00
2348297    2018-03-01 23:00:00
Name: DateTime, Length: 411820, dtype: object

## 2.2 - Interacting with a server to query a subset of some data bank

We will now learn how to query a data bank to retrieve only the relevant proportion data for a task. We will be using the World Bank Data API to access World's renewable energy consumtpion data.

You first need to install the World Bank API. In a terminal, run the following command:

``>> pip install wbdata``

In [36]:
%pip install wbdata

Requirement already satisfied: wbdata in /Users/borjamartinavarro/opt/anaconda3/lib/python3.8/site-packages (0.3.0)
Requirement already satisfied: decorator>=4.0 in /Users/borjamartinavarro/opt/anaconda3/lib/python3.8/site-packages (from wbdata) (5.1.0)
Requirement already satisfied: appdirs<2.0,>=1.4 in /Users/borjamartinavarro/opt/anaconda3/lib/python3.8/site-packages (from wbdata) (1.4.4)
Requirement already satisfied: tabulate>=0.8.5 in /Users/borjamartinavarro/opt/anaconda3/lib/python3.8/site-packages (from wbdata) (0.8.9)
Requirement already satisfied: requests>=2.0 in /Users/borjamartinavarro/opt/anaconda3/lib/python3.8/site-packages (from wbdata) (2.26.0)
Requirement already satisfied: charset-normalizer~=2.0.0 in /Users/borjamartinavarro/opt/anaconda3/lib/python3.8/site-packages (from requests>=2.0->wbdata) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /Users/borjamartinavarro/opt/anaconda3/lib/python3.8/site-packages (from requests>=2.0->wbdata) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/borjamartinavarro/opt/anaconda3/lib/python3.8/site-packages (from requests>=2.0->wbdata) (1.26.7)
Requirement already satisfied: idna<4,>=2.5 in /Users/borjamartinavarro/opt/anaconda3/lib/python3.8/site-packages (from requests>=2.0->wbdata) (3.2)
Note: you may need to restart the kernel to use updated packages.

In [37]:
# Library imports
import wbdata as wb
import datetime

### - Query the World Bank

* **_[TO DO]_**: Use the wbdata to retrieve renewable energy consumption data of all countries in 2015.

Hint: [wbdata documentation](https://wbdata.readthedocs.io/en/stable/)

In [38]:
# List of all data.
wb.get_source()

  id  name
----  --------------------------------------------------------------------
   1  Doing Business
   2  World Development Indicators
   3  Worldwide Governance Indicators
   5  Subnational Malnutrition Database
   6  International Debt Statistics
  11  Africa Development Indicators
  12  Education Statistics
  13  Enterprise Surveys
  14  Gender Statistics
  15  Global Economic Monitor
  16  Health Nutrition and Population Statistics
  18  IDA Results Measurement System
  19  Millennium Development Goals
  20  Quarterly Public Sector Debt
  22  Quarterly External Debt Statistics SDDS
  23  Quarterly External Debt Statistics GDDS
  24  Poverty and Equity
  25  Jobs
  27  Global Economic Prospects
  28  Global Financial Inclusion
  29  The Atlas of Social Protection: Indicators of Resilience and Equity
  30  Exporter Dynamics Database – Indicators at Country-Year Level
  31  Country Policy and Institutional Assessment
  32  Global Financial Development
  33  G20 Financial Inclusion Indicators
  34  Global Partnership for Education
  35  Sustainable Energy for All
  36  Statistical Capacity Indicators
  37  LAC Equity Lab
  38  Subnational Poverty
  39  Health Nutrition and Population Statistics by Wealth Quintile
  40  Population estimates and projections
  41  Country Partnership Strategy for India (FY2013 - 17)
  43  Adjusted Net Savings
  45  Indonesia Database for Policy and Economic Research
  46  Sustainable Development Goals
  50  Subnational Population
  54  Joint External Debt Hub
  57  WDI Database Archives
  58  Universal Health Coverage
  59  Wealth Accounts
  60  Economic Fitness
  61  PPPs Regulatory Quality
  62  International Comparison Program (ICP) 2011
  63  Human Capital Index
  64  Worldwide Bureaucracy Indicators
  65  Health Equity and Financial Protection Indicators
  66  Logistics Performance Index
  67  PEFA 2011
  68  PEFA 2016
  69  Global Financial Inclusion and Consumer Protection Survey
  70  Economic Fitness 2
  71  International Comparison Program (ICP) 2005
  73  Global Financial Inclusion and Consumer Protection Survey (Internal)
  75  Environment, Social and Governance (ESG) Data
  76  Remittance Prices Worldwide (Sending Countries)
  77  Remittance Prices Worldwide (Receiving Countries)
  78  ICP 2017
  79  PEFA_GRPFM
  80  Gender Disaggregated Labor Database (GDLD)
  81  International Debt Statistics: DSSI
  82  Global Public Procurement
  83  Statistical Performance Indicators (SPI)
  84  Education Policy
  85  PEFA_2021_SNG
  86  Global Jobs Indicators Database (JOIN)
  87  Country Climate and Development Report (CCDR)

In [39]:
wb.get_indicator(source=35)

id                              name
------------------------------  --------------------------------------------------------------------------
1.1_ACCESS.ELECTRICITY.TOT      Access to electricity (% of total population)
1.1_TOTAL.FINAL.ENERGY.CONSUM   Total final energy consumption (TFEC)
1.2_ACCESS.ELECTRICITY.RURAL    Access to electricity (% of rural population)
1.3_ACCESS.ELECTRICITY.URBAN    Access to electricity (% of urban population)
2.1_ACCESS.CFT.TOT              Access to Clean Fuels and Technologies for cooking (% of total population)
2.1_SHARE.TOTAL.RE.IN.TFEC      Renewable energy consumption(% in TFEC)
3.1_RE.CONSUMPTION              Renewable energy consumption (TJ)
4.1.1_TOTAL.ELECTRICITY.OUTPUT  Total electricity output (GWh)
4.1.2_REN.ELECTRICITY.OUTPUT    Renewable energy electricity output (GWh)
4.1_SHARE.RE.IN.ELECTRICITY     Renewable electricity (% in total electricity output)
6.1_PRIMARY.ENERGY.INTENSITY    Energy intensity level of primary energy (MJ/$2005 PPP)

In [58]:
# Energy consumption for all countries in 2015.
data_date = datetime.datetime(2015, 1, 1)                                                                                         
Data_2015 = wb.get_data("3.1_RE.CONSUMPTION", data_date = data_date)

Data_2015

#REGULAR DATA EXTRACTED, NO STRUCTURE.

[{'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'BES', 'value': 'BES Islands'},
  'countryiso3code': '',
  'date': '2015',
  'value': 112.7886,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'NRU', 'value': 'Nauru'},
  'countryiso3code': '',
  'date': '2015',
  'value': 0.32988,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'NIU', 'value': 'Niue'},
  'countryiso3code': '',
  'date': '2015',
  'value': 16.63123,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'WLF', 'value': 'Wallis and Futuna'},
  'countryiso3code': '',
  'date': '2015',
  'value': 0,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'CCA', 'value': 'Caucasian and Central Asia'},
  'countryiso3code': '',
  'date': '2015',
  'value': None,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'GCA', 'value': 'Caucasus and Central Asia'},
  'countryiso3code': '',
  'date': '2015',
  'value': None,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'GEJ', 'value': 'Eastern Asia (including Japan)'},
  'countryiso3code': '',
  'date': '2015',
  'value': None,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'GEA', 'value': 'Eastern Asia (not including Japan)'},
  'countryiso3code': '',
  'date': '2015',
  'value': None,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'GEE', 'value': 'Eastern Europe'},
  'countryiso3code': '',
  'date': '2015',
  'value': None,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'GEU', 'value': 'Europe'},
  'countryiso3code': '',
  'date': '2015',
  'value': None,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'HIC', 'value': 'High income'},
  'countryiso3code': '',
  'date': '2015',
  'value': None,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'NOC', 'value': 'High income: nonOECD'},
  'countryiso3code': '',
  'date': '2015',
  'value': None,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'OEC', 'value': 'High income: OECD'},
  'countryiso3code': '',
  'date': '2015',
  'value': None,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'GLC', 'value': 'Latin America and Caribbean'},
  'countryiso3code': '',
  'date': '2015',
  'value': None,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'LMY', 'value': 'Low & middle income'},
  'countryiso3code': '',
  'date': '2015',
  'value': None,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'LIC', 'value': 'Low income'},
  'countryiso3code': '',
  'date': '2015',
  'value': None,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'LMC', 'value': 'Lower middle income'},
  'countryiso3code': '',
  'date': '2015',
  'value': None,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'MIC', 'value': 'Middle income'},
  'countryiso3code': '',
  'date': '2015',
  'value': None,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'GNA', 'value': 'Northern America'},
  'countryiso3code': '',
  'date': '2015',
  'value': None,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'LNX', 'value': 'Not classified'},
  'countryiso3code': '',
  'date': '2015',
  'value': None,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'NAR', 'value': 'Nothern America'},
  'countryiso3code': '',
  'date': '2015',
  'value': None,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'GCN', 'value': 'Oceania'},
  'countryiso3code': '',
  'date': '2015',
  'value': None,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'GOC',
   'value': 'Oceania (not including Australia and New Zealand)'},
  'countryiso3code': '',
  'date': '2015',
  'value': None,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'GSE', 'value': 'South Eastern Asia'},
  'countryiso3code': '',
  'date': '2015',
  'value': None,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'GSA', 'value': 'Southern Asia'},
  'countryiso3code': '',
  'date': '2015',
  'value': None,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'GSS', 'value': 'Sub-Saharan Africa'},
  'countryiso3code': '',
  'date': '2015',
  'value': None,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'UMC', 'value': 'Upper middle income'},
  'countryiso3code': '',
  'date': '2015',
  'value': None,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'GWA', 'value': 'Western Asia'},
  'countryiso3code': '',
  'date': '2015',
  'value': None,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'GWL', 'value': 'World'},
  'countryiso3code': '',
  'date': '2015',
  'value': None,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'AFG', 'value': 'Afghanistan'},
  'countryiso3code': '',
  'date': '2015',
  'value': 25134.53,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'ALB', 'value': 'Albania'},
  'countryiso3code': '',
  'date': '2015',
  'value': 31555.45,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'DZA', 'value': 'Algeria'},
  'countryiso3code': '',
  'date': '2015',
  'value': 833.6698,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'ASM', 'value': 'American Samoa'},
  'countryiso3code': '',
  'date': '2015',
  'value': 4.968064,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'AND', 'value': 'Andorra'},
  'countryiso3code': '',
  'date': '2015',
  'value': 1642.52,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'AGO', 'value': 'Angola'},
  'countryiso3code': '',
  'date': '2015',
  'value': 243771.1,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'AIA', 'value': 'Anguilla'},
  'countryiso3code': '',
  'date': '2015',
  'value': 1.827,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'ATG', 'value': 'Antigua and Barbuda'},
  'countryiso3code': '',
  'date': '2015',
  'value': 0,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'ARG', 'value': 'Argentina'},
  'countryiso3code': '',
  'date': '2015',
  'value': 239470.6,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'ARM', 'value': 'Armenia'},
  'countryiso3code': '',
  'date': '2015',
  'value': 13445.59,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'ABW', 'value': 'Aruba'},
  'countryiso3code': '',
  'date': '2015',
  'value': 437.772,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'AUS', 'value': 'Australia'},
  'countryiso3code': '',
  'date': '2015',
  'value': 296838.1,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'AUT', 'value': 'Austria'},
  'countryiso3code': '',
  'date': '2015',
  'value': 362355.8,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'AZE', 'value': 'Azerbaijan'},
  'countryiso3code': '',
  'date': '2015',
  'value': 7681.284,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'BHS', 'value': 'Bahamas, The'},
  'countryiso3code': '',
  'date': '2015',
  'value': 310.333,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'BHR', 'value': 'Bahrain'},
  'countryiso3code': '',
  'date': '2015',
  'value': 0,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'BGD', 'value': 'Bangladesh'},
  'countryiso3code': '',
  'date': '2015',
  'value': 386058.6,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'BRB', 'value': 'Barbados'},
  'countryiso3code': '',
  'date': '2015',
  'value': 315.0794,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'BLR', 'value': 'Belarus'},
  'countryiso3code': '',
  'date': '2015',
  'value': 44549.43,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'BEL', 'value': 'Belgium'},
  'countryiso3code': '',
  'date': '2015',
  'value': 128345.2,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'BLZ', 'value': 'Belize'},
  'countryiso3code': '',
  'date': '2015',
  'value': 4279.87,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'BEN', 'value': 'Benin'},
  'countryiso3code': '',
  'date': '2015',
  'value': 76473.18,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'BMU', 'value': 'Bermuda'},
  'countryiso3code': '',
  'date': '2015',
  'value': 123.3681,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'BTN', 'value': 'Bhutan'},
  'countryiso3code': '',
  'date': '2015',
  'value': 54615.38,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'BOL', 'value': 'Bolivia'},
  'countryiso3code': '',
  'date': '2015',
  'value': 48839.15,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'BIH', 'value': 'Bosnia and Herzegovina'},
  'countryiso3code': '',
  'date': '2015',
  'value': 73353.16,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'BWA', 'value': 'Botswana'},
  'countryiso3code': '',
  'date': '2015',
  'value': 23155.78,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'BRA', 'value': 'Brazil'},
  'countryiso3code': '',
  'date': '2015',
  'value': 3887176,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'VGB', 'value': 'British Virgin Islands'},
  'countryiso3code': '',
  'date': '2015',
  'value': 18.58448,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'BRN', 'value': 'Brunei Darussalam'},
  'countryiso3code': '',
  'date': '2015',
  'value': 5.814209,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'BGR', 'value': 'Bulgaria'},
  'countryiso3code': '',
  'date': '2015',
  'value': 69034.96,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'BFA', 'value': 'Burkina Faso'},
  'countryiso3code': '',
  'date': '2015',
  'value': 108923.9,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'BDI', 'value': 'Burundi'},
  'countryiso3code': '',
  'date': '2015',
  'value': 49456.45,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'KHM', 'value': 'Cambodia'},
  'countryiso3code': '',
  'date': '2015',
  'value': 159807,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'CMR', 'value': 'Cameroon'},
  'countryiso3code': '',
  'date': '2015',
  'value': 217574.9,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'CAN', 'value': 'Canada'},
  'countryiso3code': '',
  'date': '2015',
  'value': 1587094,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'CPV', 'value': 'Cape Verde'},
  'countryiso3code': '',
  'date': '2015',
  'value': 1727.543,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'CYM', 'value': 'Cayman Islands'},
  'countryiso3code': '',
  'date': '2015',
  'value': 0,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'CAF', 'value': 'Central African Republic'},
  'countryiso3code': '',
  'date': '2015',
  'value': 13517.51,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'TCD', 'value': 'Chad'},
  'countryiso3code': '',
  'date': '2015',
  'value': 59316.84,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'CHI', 'value': 'Channel Islands'},
  'countryiso3code': '',
  'date': '2015',
  'value': 0,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'CHL', 'value': 'Chile'},
  'countryiso3code': '',
  'date': '2015',
  'value': 259606.8,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'CHN', 'value': 'China'},
  'countryiso3code': '',
  'date': '2015',
  'value': 9084482,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'COL', 'value': 'Colombia'},
  'countryiso3code': '',
  'date': '2015',
  'value': 251833.9,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'COM', 'value': 'Comoros'},
  'countryiso3code': '',
  'date': '2015',
  'value': 1607.804,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'COD', 'value': 'Congo, Dem. Rep.'},
  'countryiso3code': '',
  'date': '2015',
  'value': 862513.8,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'COG', 'value': 'Congo, Rep.'},
  'countryiso3code': '',
  'date': '2015',
  'value': 53145.05,
  'unit': '',
  'obs_status': '',
  'decimal': 0},
 {'indicator': {'id': '3.1_RE.CONSUMPTION',
   'value': 'Renewable energy consumption (TJ)'},
  'country': {'id': 'COK', 'value': 'Cook Islands'},
  'countryiso3code': '',
  'date': '2015',

In [64]:
time_selection = (datetime.datetime(2015, 1, 1), datetime.datetime(2015, 12, 31))
energy_2015_frame=wb.get_dataframe({'3.1_RE.CONSUMPTION' : 'Renewable energy consumption (TJ)'}, data_date=time_selection)

energy_2015_frame

#ORGANISED DATAFRAME TABLE, JUST E CONSUMPTION & COUNTRY LIST.

                            Renewable energy consumption (TJ)
country
BES Islands                                         112.78860
Nauru                                                 0.32988
Niue                                                 16.63123
Wallis and Futuna                                     0.00000
Caucasian and Central Asia                                NaN
...                                                       ...
West Bank and Gaza                                 6701.55000
Western Sahara                                        0.00000
Yemen, Rep.                                        2433.20100
Zambia                                           301679.80000
Zimbabwe                                         324422.60000

[259 rows x 1 columns]

### - Undestanding the data

* **_[TO DO]_**: Display different data points

In [66]:
energy_2015_frame.head()

                            Renewable energy consumption (TJ)
country
BES Islands                                         112.78860
Nauru                                                 0.32988
Niue                                                 16.63123
Wallis and Futuna                                     0.00000
Caucasian and Central Asia                                NaN

In [90]:
# Search for a specific country.
wb.search_countries('Spain')

id    name
----  ------
ESP   Spain

In [67]:
# View data just for Spain.
Data_Spain=wb.get_dataframe({'3.1_RE.CONSUMPTION' : 'Renewable energy consumption (TJ)'}, country=["ESP"])

Data_Spain

      Renewable energy consumption (TJ)
date
2016                                NaN
2015                           513540.8
2014                           541486.8
2013                           539846.5
2012                           519522.5
2011                           506659.2
2010                           513546.1
2009                           428621.4
2008                           368151.7
2007                           353515.9
2006                           324023.2
2005                           286009.7
2004                           304944.9
2003                           323092.4
2002                           252761.4
2001                           299027.9
2000                           251199.9
1999                           229042.9
1998                           256963.3
1997                           249598.7
1996                           263237.4
1995                           211024.6
1994                           230894.3
1993                           216495.1
1992                           198957.3
1991                           236942.1
1990                           241808.9

In [68]:
# Search for the USA.
wb.search_countries('united')

id    name
----  --------------------
ARE   United Arab Emirates
GBR   United Kingdom
USA   United States

In [69]:
# View data just for the USA between 2000 and 2010.
data_USA = datetime.datetime(2000, 1, 1), datetime.datetime(2010, 1, 1)
Data_USA_2000s=wb.get_dataframe({'3.1_RE.CONSUMPTION' : 'Renewable energy consumption (TJ)'}, country=["USA"], data_date=data_USA) 

Data_USA_2000s

      Renewable energy consumption (TJ)
date
2010                          4327122.0
2009                          4070025.0
2008                          3989400.0
2007                          3755210.0
2006                          3755239.0
2005                          3439771.0
2004                          3223103.0
2003                          3092945.0
2002                          2770880.0
2001                          2677065.0
2000                          3167129.0

### - Exporting the data 

* **_[TO DO]_**: Save the retrieved renewable energy consumption data of all countries in 2015 in one .xlsx file
* **_[TO DO]_**: Save the renewable energy consumption data from 2006 to 2016 for each European country in individual .csv files (one per country)

In [70]:
# Convert pandas dataframe into a xlsx file.
energy_2015_frame.to_excel("RE_Data_2015.xlsx", index=False)

In [71]:
pd.read_excel("RE_Data_2015.xlsx")

     Renewable energy consumption (TJ)
0                            112.78860
1                              0.32988
2                             16.63123
3                              0.00000
4                                  NaN
..                                 ...
254                         6701.55000
255                            0.00000
256                         2433.20100
257                       301679.80000
258                       324422.60000

[259 rows x 1 columns]

In [76]:
# Import packages
import requests
import json

In [82]:
# Requesting all wolrd bank locations names and codes
locations = requests.get("http://api.worldbank.org/v2/country?format=json&source=6&per_page=300")
locations_json = locations.json()

locations_json

[{'page': 1, 'pages': 1, 'per_page': '300', 'total': 299},
 [{'id': 'ABW',
   'iso2Code': 'AW',
   'name': 'Aruba',
   'region': {'id': 'LCN',
    'iso2code': 'ZJ',
    'value': 'Latin America & Caribbean '},
   'adminregion': {'id': '', 'iso2code': '', 'value': ''},
   'incomeLevel': {'id': 'HIC', 'iso2code': 'XD', 'value': 'High income'},
   'lendingType': {'id': 'LNX', 'iso2code': 'XX', 'value': 'Not classified'},
   'capitalCity': 'Oranjestad',
   'longitude': '-70.0167',
   'latitude': '12.5167'},
  {'id': 'AFE',
   'iso2Code': 'ZH',
   'name': 'Africa Eastern and Southern',
   'region': {'id': 'NA', 'iso2code': 'NA', 'value': 'Aggregates'},
   'adminregion': {'id': '', 'iso2code': '', 'value': ''},
   'incomeLevel': {'id': 'NA', 'iso2code': 'NA', 'value': 'Aggregates'},
   'lendingType': {'id': '', 'iso2code': '', 'value': 'Aggregates'},
   'capitalCity': '',
   'longitude': '',
   'latitude': ''},
  {'id': 'AFG',
   'iso2Code': 'AF',
   'name': 'Afghanistan',
   'region': {'id': 'SAS', 'iso2code': '8S', 'value': 'South Asia'},
   'adminregion': {'id': 'SAS', 'iso2code': '8S', 'value': 'South Asia'},
   'incomeLevel': {'id': 'LIC', 'iso2code': 'XM', 'value': 'Low income'},
   'lendingType': {'id': 'IDX', 'iso2code': 'XI', 'value': 'IDA'},
   'capitalCity': 'Kabul',
   'longitude': '69.1761',
   'latitude': '34.5228'},
  {'id': 'AFR',
   'iso2Code': 'A9',
   'name': 'Africa',
   'region': {'id': 'NA', 'iso2code': 'NA', 'value': 'Aggregates'},
   'adminregion': {'id': '', 'iso2code': '', 'value': ''},
   'incomeLevel': {'id': 'NA', 'iso2code': 'NA', 'value': 'Aggregates'},
   'lendingType': {'id': '', 'iso2code': '', 'value': 'Aggregates'},
   'capitalCity': '',
   'longitude': '',
   'latitude': ''},
  {'id': 'AFW',
   'iso2Code': 'ZI',
   'name': 'Africa Western and Central',
   'region': {'id': 'NA', 'iso2code': 'NA', 'value': 'Aggregates'},
   'adminregion': {'id': '', 'iso2code': '', 'value': ''},
   'incomeLevel': {'id': 'NA', 'iso2code': 'NA', 'value': 'Aggregates'},
   'lendingType': {'id': '', 'iso2code': '', 'value': 'Aggregates'},
   'capitalCity': '',
   'longitude': '',
   'latitude': ''},
  {'id': 'AGO',
   'iso2Code': 'AO',
   'name': 'Angola',
   'region': {'id': 'SSF', 'iso2code': 'ZG', 'value': 'Sub-Saharan Africa '},
   'adminregion': {'id': 'SSA',
    'iso2code': 'ZF',
    'value': 'Sub-Saharan Africa (excluding high income)'},
   'incomeLevel': {'id': 'LMC',
    'iso2code': 'XN',
    'value': 'Lower middle income'},
   'lendingType': {'id': 'IBD', 'iso2code': 'XF', 'value': 'IBRD'},
   'capitalCity': 'Luanda',
   'longitude': '13.242',
   'latitude': '-8.81155'},
  {'id': 'ALB',
   'iso2Code': 'AL',
   'name': 'Albania',
   'region': {'id': 'ECS', 'iso2code': 'Z7', 'value': 'Europe & Central Asia'},
   'adminregion': {'id': 'ECA',
    'iso2code': '7E',
    'value': 'Europe & Central Asia (excluding high income)'},
   'incomeLevel': {'id': 'UMC',
    'iso2code': 'XT',
    'value': 'Upper middle income'},
   'lendingType': {'id': 'IBD', 'iso2code': 'XF', 'value': 'IBRD'},
   'capitalCity': 'Tirane',
   'longitude': '19.8172',
   'latitude': '41.3317'},
  {'id': 'AND',
   'iso2Code': 'AD',
   'name': 'Andorra',
   'region': {'id': 'ECS', 'iso2code': 'Z7', 'value': 'Europe & Central Asia'},
   'adminregion': {'id': '', 'iso2code': '', 'value': ''},
   'incomeLevel': {'id': 'HIC', 'iso2code': 'XD', 'value': 'High income'},
   'lendingType': {'id': 'LNX', 'iso2code': 'XX', 'value': 'Not classified'},
   'capitalCity': 'Andorra la Vella',
   'longitude': '1.5218',
   'latitude': '42.5075'},
  {'id': 'ARB',
   'iso2Code': '1A',
   'name': 'Arab World',
   'region': {'id': 'NA', 'iso2code': 'NA', 'value': 'Aggregates'},
   'adminregion': {'id': '', 'iso2code': '', 'value': ''},
   'incomeLevel': {'id': 'NA', 'iso2code': 'NA', 'value': 'Aggregates'},
   'lendingType': {'id': '', 'iso2code': '', 'value': 'Aggregates'},
   'capitalCity': '',
   'longitude': '',
   'latitude': ''},
  {'id': 'ARE',
   'iso2Code': 'AE',
   'name': 'United Arab Emirates',
   'region': {'id': 'MEA',
    'iso2code': 'ZQ',
    'value': 'Middle East & North Africa'},
   'adminregion': {'id': '', 'iso2code': '', 'value': ''},
   'incomeLevel': {'id': 'HIC', 'iso2code': 'XD', 'value': 'High income'},
   'lendingType': {'id': 'LNX', 'iso2code': 'XX', 'value': 'Not classified'},
   'capitalCity': 'Abu Dhabi',
   'longitude': '54.3705',
   'latitude': '24.4764'},
  {'id': 'ARG',
   'iso2Code': 'AR',
   'name': 'Argentina',
   'region': {'id': 'LCN',
    'iso2code': 'ZJ',
    'value': 'Latin America & Caribbean '},
   'adminregion': {'id': 'LAC',
    'iso2code': 'XJ',
    'value': 'Latin America & Caribbean (excluding high income)'},
   'incomeLevel': {'id': 'UMC',
    'iso2code': 'XT',
    'value': 'Upper middle income'},
   'lendingType': {'id': 'IBD', 'iso2code': 'XF', 'value': 'IBRD'},
   'capitalCity': 'Buenos Aires',
   'longitude': '-58.4173',
   'latitude': '-34.6118'},
  {'id': 'ARM',
   'iso2Code': 'AM',
   'name': 'Armenia',
   'region': {'id': 'ECS', 'iso2code': 'Z7', 'value': 'Europe & Central Asia'},
   'adminregion': {'id': 'ECA',
    'iso2code': '7E',
    'value': 'Europe & Central Asia (excluding high income)'},
   'incomeLevel': {'id': 'UMC',
    'iso2code': 'XT',
    'value': 'Upper middle income'},
   'lendingType': {'id': 'IBD', 'iso2code': 'XF', 'value': 'IBRD'},
   'capitalCity': 'Yerevan',
   'longitude': '44.509',
   'latitude': '40.1596'},
  {'id': 'ASM',
   'iso2Code': 'AS',
   'name': 'American Samoa',
   'region': {'id': 'EAS', 'iso2code': 'Z4', 'value': 'East Asia & Pacific'},
   'adminregion': {'id': 'EAP',
    'iso2code': '4E',
    'value': 'East Asia & Pacific (excluding high income)'},
   'incomeLevel': {'id': 'UMC',
    'iso2code': 'XT',
    'value': 'Upper middle income'},
   'lendingType': {'id': 'LNX', 'iso2code': 'XX', 'value': 'Not classified'},
   'capitalCity': 'Pago Pago',
   'longitude': '-170.691',
   'latitude': '-14.2846'},
  {'id': 'ATG',
   'iso2Code': 'AG',
   'name': 'Antigua and Barbuda',
   'region': {'id': 'LCN',
    'iso2code': 'ZJ',
    'value': 'Latin America & Caribbean '},
   'adminregion': {'id': '', 'iso2code': '', 'value': ''},
   'incomeLevel': {'id': 'HIC', 'iso2code': 'XD', 'value': 'High income'},
   'lendingType': {'id': 'IBD', 'iso2code': 'XF', 'value': 'IBRD'},
   'capitalCity': "Saint John's",
   'longitude': '-61.8456',
   'latitude': '17.1175'},
  {'id': 'AUS',
   'iso2Code': 'AU',
   'name': 'Australia',
   'region': {'id': 'EAS', 'iso2code': 'Z4', 'value': 'East Asia & Pacific'},
   'adminregion': {'id': '', 'iso2code': '', 'value': ''},
   'incomeLevel': {'id': 'HIC', 'iso2code': 'XD', 'value': 'High income'},
   'lendingType': {'id': 'LNX', 'iso2code': 'XX', 'value': 'Not classified'},
   'capitalCity': 'Canberra',
   'longitude': '149.129',
   'latitude': '-35.282'},
  {'id': 'AUT',
   'iso2Code': 'AT',
   'name': 'Austria',
   'region': {'id': 'ECS', 'iso2code': 'Z7', 'value': 'Europe & Central Asia'},
   'adminregion': {'id': '', 'iso2code': '', 'value': ''},
   'incomeLevel': {'id': 'HIC', 'iso2code': 'XD', 'value': 'High income'},
   'lendingType': {'id': 'LNX', 'iso2code': 'XX', 'value': 'Not classified'},
   'capitalCity': 'Vienna',
   'longitude': '16.3798',
   'latitude': '48.2201'},
  {'id': 'AZE',
   'iso2Code': 'AZ',
   'name': 'Azerbaijan',
   'region': {'id': 'ECS', 'iso2code': 'Z7', 'value': 'Europe & Central Asia'},
   'adminregion': {'id': 'ECA',
    'iso2code': '7E',
    'value': 'Europe & Central Asia (excluding high income)'},
   'incomeLevel': {'id': 'UMC',
    'iso2code': 'XT',
    'value': 'Upper middle income'},
   'lendingType': {'id': 'IBD', 'iso2code': 'XF', 'value': 'IBRD'},
   'capitalCity': 'Baku',
   'longitude': '49.8932',
   'latitude': '40.3834'},
  {'id': 'BDI',
   'iso2Code': 'BI',
   'name': 'Burundi',
   'region': {'id': 'SSF', 'iso2code': 'ZG', 'value': 'Sub-Saharan Africa '},
   'adminregion': {'id': 'SSA',
    'iso2code': 'ZF',
    'value': 'Sub-Saharan Africa (excluding high income)'},
   'incomeLevel': {'id': 'LIC', 'iso2code': 'XM', 'value': 'Low income'},
   'lendingType': {'id': 'IDX', 'iso2code': 'XI', 'value': 'IDA'},
   'capitalCity': 'Bujumbura',
   'longitude': '29.3639',
   'latitude': '-3.3784'},
  {'id': 'BEA',
   'iso2Code': 'B4',
   'name': 'East Asia & Pacific (IBRD-only countries)',
   'region': {'id': 'NA', 'iso2code': 'NA', 'value': 'Aggregates'},
   'adminregion': {'id': '', 'iso2code': '', 'value': ''},
   'incomeLevel': {'id': 'NA', 'iso2code': 'NA', 'value': 'Aggregates'},
   'lendingType': {'id': '', 'iso2code': '', 'value': 'Aggregates'},
   'capitalCity': '',
   'longitude': '',
   'latitude': ''},
  {'id': 'BEC',
   'iso2Code': 'B7',
   'name': 'Europe & Central Asia (IBRD-only countries)',
   'region': {'id': 'NA', 'iso2code': 'NA', 'value': 'Aggregates'},
   'adminregion': {'id': '', 'iso2code': '', 'value': ''},
   'incomeLevel': {'id': 'NA', 'iso2code': 'NA', 'value': 'Aggregates'},
   'lendingType': {'id': '', 'iso2code': '', 'value': 'Aggregates'},
   'capitalCity': '',
   'longitude': '',
   'latitude': ''},
  {'id': 'BEL',
   'iso2Code': 'BE',
   'name': 'Belgium',
   'region': {'id': 'ECS', 'iso2code': 'Z7', 'value': 'Europe & Central Asia'},
   'adminregion': {'id': '', 'iso2code': '', 'value': ''},
   'incomeLevel': {'id': 'HIC', 'iso2code': 'XD', 'value': 'High income'},
   'lendingType': {'id': 'LNX', 'iso2code': 'XX', 'value': 'Not classified'},
   'capitalCity': 'Brussels',
   'longitude': '4.36761',
   'latitude': '50.8371'},
  {'id': 'BEN',
   'iso2Code': 'BJ',
   'name': 'Benin',
   'region': {'id': 'SSF', 'iso2code': 'ZG', 'value': 'Sub-Saharan Africa '},
   'adminregion': {'id': 'SSA',
    'iso2code': 'ZF',
    'value': 'Sub-Saharan Africa (excluding high income)'},
   'incomeLevel': {'id': 'LMC',
    'iso2code': 'XN',
    'value': 'Lower middle income'},
   'lendingType': {'id': 'IDX', 'iso2code': 'XI', 'value': 'IDA'},
   'capitalCity': 'Porto-Novo',
   'longitude': '2.6323',
   'latitude': '6.4779'},
  {'id': 'BFA',
   'iso2Code': 'BF',
   'name': 'Burkina Faso',
   'region': {'id': 'SSF', 'iso2code': 'ZG', 'value': 'Sub-Saharan Africa '},
   'adminregion': {'id': 'SSA',
    'iso2code': 'ZF',
    'value': 'Sub-Saharan Africa (excluding high income)'},
   'incomeLevel': {'id': 'LIC', 'iso2code': 'XM', 'value': 'Low income'},
   'lendingType': {'id': 'IDX', 'iso2code': 'XI', 'value': 'IDA'},
   'capitalCity': 'Ouagadougou',
   'longitude': '-1.53395',
   'latitude': '12.3605'},
  {'id': 'BGD',
   'iso2Code': 'BD',
   'name': 'Bangladesh',
   'region': {'id': 'SAS', 'iso2code': '8S', 'value': 'South Asia'},
   'adminregion': {'id': 'SAS', 'iso2code': '8S', 'value': 'South Asia'},
   'incomeLevel': {'id': 'LMC',
    'iso2code': 'XN',
    'value': 'Lower middle income'},
   'lendingType': {'id': 'IDX', 'iso2code': 'XI', 'value': 'IDA'},
   'capitalCity': 'Dhaka',
   'longitude': '90.4113',
   'latitude': '23.7055'},
  {'id': 'BGR',
   'iso2Code': 'BG',
   'name': 'Bulgaria',
   'region': {'id': 'ECS', 'iso2code': 'Z7', 'value': 'Europe & Central Asia'},
   'adminregion': {'id': 'ECA',
    'iso2code': '7E',
    'value': 'Europe & Central Asia (excluding high income)'},
   'incomeLevel': {'id': 'UMC',
    'iso2code': 'XT',
    'value': 'Upper middle income'},
   'lendingType': {'id': 'IBD', 'iso2code': 'XF', 'value': 'IBRD'},
   'capitalCity': 'Sofia',
   'longitude': '23.3238',
   'latitude': '42.7105'},
  {'id': 'BHI',
   'iso2Code': 'B1',
   'name': 'IBRD countries classified as high income',
   'region': {'id': 'NA', 'iso2code': 'NA', 'value': 'Aggregates'},
   'adminregion': {'id': '', 'iso2code': '', 'value': ''},
   'incomeLevel': {'id': 'NA', 'iso2code': 'NA', 'value': 'Aggregates'},
   'lendingType': {'id': '', 'iso2code': '', 'value': 'Aggregates'},
   'capitalCity': '',
   'longitude': '',
   'latitude': ''},
  {'id': 'BHR',
   'iso2Code': 'BH',
   'name': 'Bahrain',
   'region': {'id': 'MEA',
    'iso2code': 'ZQ',
    'value': 'Middle East & North Africa'},
   'adminregion': {'id': '', 'iso2code': '', 'value': ''},
   'incomeLevel': {'id': 'HIC', 'iso2code': 'XD', 'value': 'High income'},
   'lendingType': {'id': 'LNX', 'iso2code': 'XX', 'value': 'Not classified'},
   'capitalCity': 'Manama',
   'longitude': '50.5354',
   'latitude': '26.1921'},
  {'id': 'BHS',
   'iso2Code': 'BS',
   'name': 'Bahamas, The',
   'region': {'id': 'LCN',
    'iso2code': 'ZJ',
    'value': 'Latin America & Caribbean '},
   'adminregion': {'id': '', 'iso2code': '', 'value': ''},
   'incomeLevel': {'id': 'HIC', 'iso2code': 'XD', 'value': 'High income'},
   'lendingType': {'id': 'LNX', 'iso2code': 'XX', 'value': 'Not classified'},
   'capitalCity': 'Nassau',
   'longitude': '-77.339',
   'latitude': '25.0661'},
  {'id': 'BIH',
   'iso2Code': 'BA',
   'name': 'Bosnia and Herzegovina',
   'region': {'id': 'ECS', 'iso2code': 'Z7', 'value': 'Europe & Central Asia'},
   'adminregion': {'id': 'ECA',
    'iso2code': '7E',
    'value': 'Europe & Central Asia (excluding high income)'},
   'incomeLevel': {'id': 'UMC',
    'iso2code': 'XT',
    'value': 'Upper middle income'},
   'lendingType': {'id': 'IBD', 'iso2code': 'XF', 'value': 'IBRD'},
   'capitalCity': 'Sarajevo',
   'longitude': '18.4214',
   'latitude': '43.8607'},
  {'id': 'BLA',
   'iso2Code': 'B2',
   'name': 'Latin America & the Caribbean (IBRD-only countries)',
   'region': {'id': 'NA', 'iso2code': 'NA', 'value': 'Aggregates'},
   'adminregion': {'id': '', 'iso2code': '', 'value': ''},
   'incomeLevel': {'id': 'NA', 'iso2code': 'NA', 'value': 'Aggregates'},
   'lendingType': {'id': '', 'iso2code': '', 'value': 'Aggregates'},
   'capitalCity': '',
   'longitude': '',
   'latitude': ''},
  {'id': 'BLR',
   'iso2Code': 'BY',
   'name': 'Belarus',
   'region': {'id': 'ECS', 'iso2code': 'Z7', 'value': 'Europe & Central Asia'},
   'adminregion': {'id': 'ECA',
    'iso2code': '7E',
    'value': 'Europe & Central Asia (excluding high income)'},
   'incomeLevel': {'id': 'UMC',
    'iso2code': 'XT',
    'value': 'Upper middle income'},
   'lendingType': {'id': 'IBD', 'iso2code': 'XF', 'value': 'IBRD'},
   'capitalCity': 'Minsk',
   'longitude': '27.5766',
   'latitude': '53.9678'},
  {'id': 'BLZ',
   'iso2Code': 'BZ',
   'name': 'Belize',
   'region': {'id': 'LCN',
    'iso2code': 'ZJ',
    'value': 'Latin America & Caribbean '},
   'adminregion': {'id': 'LAC',
    'iso2code': 'XJ',
    'value': 'Latin America & Caribbean (excluding high income)'},
   'incomeLevel': {'id': 'LMC',
    'iso2code': 'XN',
    'value': 'Lower middle income'},
   'lendingType': {'id': 'IBD', 'iso2code': 'XF', 'value': 'IBRD'},
   'capitalCity': 'Belmopan',
   'longitude': '-88.7713',
   'latitude': '17.2534'},
  {'id': 'BMN',
   'iso2Code': 'B3',
   'name': 'Middle East & North Africa (IBRD-only countries)',
   'region': {'id': 'NA', 'iso2code': 'NA', 'value': 'Aggregates'},
   'adminregion': {'id': '', 'iso2code': '', 'value': ''},
   'incomeLevel': {'id': 'NA', 'iso2code': 'NA', 'value': 'Aggregates'},
   'lendingType': {'id': '', 'iso2code': '', 'value': 'Aggregates'},
   'capitalCity': '',
   'longitude': '',
   'latitude': ''},
  {'id': 'BMU',
   'iso2Code': 'BM',
   'name': 'Bermuda',
   'region': {'id': 'NAC', 'iso2code': 'XU', 'value': 'North America'},
   'adminregion': {'id': '', 'iso2code': '', 'value': ''},
   'incomeLevel': {'id': 'HIC', 'iso2code': 'XD', 'value': 'High income'},
   'lendingType': {'id': 'LNX', 'iso2code': 'XX', 'value': 'Not classified'},
   'capitalCity': 'Hamilton',
   'longitude': '-64.706',
   'latitude': '32.3293'},
  {'id': 'BOL',
   'iso2Code': 'BO',
   'name': 'Bolivia',
   'region': {'id': 'LCN',
    'iso2code': 'ZJ',
    'value': 'Latin America & Caribbean '},
   'adminregion': {'id': 'LAC',
    'iso2code': 'XJ',
    'value': 'Latin America & Caribbean (excluding high income)'},
   'incomeLevel': {'id': 'LMC',
    'iso2code': 'XN',
    'value': 'Lower middle income'},
   'lendingType': {'id': 'IBD', 'iso2code': 'XF', 'value': 'IBRD'},
   'capitalCity': 'La Paz',
   'longitude': '-66.1936',
   'latitude': '-13.9908'},
  {'id': 'BRA',
   'iso2Code': 'BR',
   'name': 'Brazil',
   'region': {'id': 'LCN',
    'iso2code': 'ZJ',
    'value': 'Latin America & Caribbean '},
   'adminregion': {'id': 'LAC',
    'iso2code': 'XJ',
    'value': 'Latin America & Caribbean (excluding high income)'},
   'incomeLevel': {'id': 'UMC',
    'iso2code': 'XT',
    'value': 'Upper middle income'},
   'lendingType': {'id': 'IBD', 'iso2code': 'XF', 'value': 'IBRD'},
   'capitalCity': 'Brasilia',
   'longitude': '-47.9292',
   'latitude': '-15.7801'},
  {'id': 'BRB',
   'iso2Code': 'BB',
   'name': 'Barbados',
   'region': {'id': 'LCN',
    'iso2code': 'ZJ',
    'value': 'Latin America & Caribbean '},
   'adminregion': {'id': '', 'iso2code': '', 'value': ''},
   'incomeLevel': {'id': 'HIC', 'iso2code': 'XD', 'value': 'High income'},
   'lendingType': {'id': 'LNX', 'iso2code': 'XX', 'value': 'Not classified'},
   'capitalCity': 'Bridgetown',
   'longitude': '-59.6105',
   'latitude': '13.0935'},
  {'id': 'BRN',
   'iso2Code': 'BN',
   'name': 'Brunei Darussalam',
   'region': {'id': 'EAS', 'iso2code': 'Z4', 'value': 'East Asia & Pacific'},
   'adminregion': {'id': '', 'iso2code': '', 'value': ''},
   'incomeLevel': {'id': 'HIC', 'iso2code': 'XD', 'value': 'High income'},
   'lendingType': {'id': 'LNX', 'iso2code': 'XX', 'value': 'Not classified'},
   'capitalCity': 'Bandar Seri Begawan',
   'longitude': '114.946',
   'latitude': '4.94199'},
  {'id': 'BSS',
   'iso2Code': 'B6',
   'name': 'Sub-Saharan Africa (IBRD-only countries)',
   'region': {'id': 'NA', 'iso2code': 'NA', 'value': 'Aggregates'},
   'adminregion': {'id': '', 'iso2code': '', 'value': ''},
   'incomeLevel': {'id': 'NA', 'iso2code': 'NA', 'value': 'Aggregates'},
   'lendingType': {'id': '', 'iso2code': '', 'value': 'Aggregates'},
   'capitalCity': '',
   'longitude': '',
   'latitude': ''},
  {'id': 'BTN',
   'iso2Code': 'BT',
   'name': 'Bhutan',
   'region': {'id': 'SAS', 'iso2code': '8S', 'value': 'South Asia'},
   'adminregion': {'id': 'SAS', 'iso2code': '8S', 'value': 'South Asia'},
   'incomeLevel': {'id': 'LMC',
    'iso2code': 'XN',
    'value': 'Lower middle income'},
   'lendingType': {'id': 'IDX', 'iso2code': 'XI', 'value': 'IDA'},
   'capitalCity': 'Thimphu',
   'longitude': '89.6177',
   'latitude': '27.5768'},
  {'id': 'BWA',
   'iso2Code': 'BW',
   'name': 'Botswana',
   'region': {'id': 'SSF', 'iso2code': 'ZG', 'value': 'Sub-Saharan Africa '},
   'adminregion': {'id': 'SSA',
    'iso2code': 'ZF',
    'value': 'Sub-Saharan Africa (excluding high income)'},
   'incomeLevel': {'id': 'UMC',
    'iso2code': 'XT',
    'value': 'Upper middle income'},
   'lendingType': {'id': 'IBD', 'iso2code': 'XF', 'value': 'IBRD'},
   'capitalCity': 'Gaborone',
   'longitude': '25.9201',
   'latitude': '-24.6544'},
  {'id': 'CAA',
   'iso2Code': 'C9',
   'name': 'Sub-Saharan Africa (IFC classification)',
   'region': {'id': 'NA', 'iso2code': 'NA', 'value': 'Aggregates'},
   'adminregion': {'id': '', 'iso2code': '', 'value': ''},
   'incomeLevel': {'id': 'NA', 'iso2code': 'NA', 'value': 'Aggregates'},
   'lendingType': {'id': '', 'iso2code': '', 'value': 'Aggregates'},
   'capitalCity': '',
   'longitude': '',
   'latitude': ''},
  {'id': 'CAF',
   'iso2Code': 'CF',
   'name': 'Central African Republic',
   'region': {'id': 'SSF', 'iso2code': 'ZG', 'value': 'Sub-Saharan Africa '},
   'adminregion': {'id': 'SSA',
    'iso2code': 'ZF',
    'value': 'Sub-Saharan Africa (excluding high income)'},
   'incomeLevel': {'id': 'LIC', 'iso2code': 'XM', 'value': 'Low income'},
   'lendingType': {'id': 'IDX', 'iso2code': 'XI', 'value': 'IDA'},
   'capitalCity': 'Bangui',
   'longitude': '21.6407',
   'latitude': '5.63056'},
  {'id': 'CAN',
   'iso2Code': 'CA',
   'name': 'Canada',
   'region': {'id': 'NAC', 'iso2code': 'XU', 'value': 'North America'},

In [78]:
# Parse through the response to filter european countries: they all have a region id of "ESP, ".
europe_countries = {}
for i in locations_json[1]:
  if i["region"]["id"] == "ECS":
    europe_countries[i["id"]] = i["name"]

In [85]:
europe_countries_ids = list(europe_countries.keys())  # Lists european countries code (ESP, GBR, FRA, etc).
timeSelection = (datetime.datetime(2006, 1, 1), datetime.datetime(2016, 12, 31))
for country in europe_countries_ids:
  try:
      print('Saving {} data'.format(country))
      energy_data = wb.get_dataframe({'3.1_RE.CONSUMPTION' : 'Renewable energy consumption (TJ)'}, data_date=timeSelection, country=country)
      energy_data.to_csv(europe_countries[country] + '_REC_2006_2016.csv')
  except Exception as e:
    print(e)

Saving ALB data
Saving AND data
Saving ARM data
Saving AUT data
Saving AZE data
Saving BEL data
Saving BGR data
Saving BIH data
Saving BLR data
Saving CHE data
Saving CHI data
Saving CYP data
Saving CZE data
Saving DEU data
Saving DNK data
Saving ESP data
Saving EST data
Saving FIN data
Saving FRA data
Saving FRO data
Saving GBR data
Saving GEO data
Saving GIB data
Saving GRC data
Saving GRL data
Saving HRV data
Saving HUN data
Saving IMN data
Saving IRL data
Saving ISL data
Saving ITA data
Saving KAZ data
Saving KGZ data
Saving LIE data
Saving LTU data
Saving LUX data
Saving LVA data
Saving MCO data
Saving MDA data
Saving MKD data
Saving MNE data
Saving NLD data
Saving NOR data
Saving POL data
Saving PRT data
Saving ROU data
Saving RUS data
Saving SMR data
Saving SRB data
Saving SVK data
Saving SVN data
Saving SWE data
Saving TJK data
Saving TKM data
Saving TUR data
Saving UKR data
Saving UZB data
Saving XKX data